ICECAST_ADMIN_USER=admin
ICECAST_ADMIN_PASSWORD=change_me_admin
ICECAST_SOURCE_PASSWORD=change_me_source
ICECAST_HOSTNAME=dockfish.icefish-ghost.ts.net
ICECAST_PORT=8000
ICECAST_LOCATION=Hamburg
ICECAST_ADMIN_EMAIL=admin@example.com
WEBUI_PORT=5000
